body{

  background-color: #F6F6F6;
}

nav a{
  text-decoration: none;
  padding: 10vw;
  color: gray;
}

nav a:hover{
  color: black;
}

.footer{
  background-color: white;
}

.logout{
  border: none;
  background-color: #F6F6F6;
  cursor: pointer;
}

.brand-name{
  float: left;
  text-align: left;
  font-size: 1.5rem;
  color:#0077b5;
  font-weight: 700;
}

.message-header{
  max-width: 10vw;
}

.post-img{
  max-width: 200px;
  max-height: 200px;
}