body{

  background-color: #F6F6F6;
}

nav a{
  text-decoration: none;
  padding: 10vw;
  color: gray;
}

nav a:hover{
  color: black;
}

.footer{
  background-color: white;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
}